<div class="flex flex-col gap-4">
  <h3
    class="text-2xl font-semibold text-maroon-600 pb-3 border-b border-zinc-200">
    {{ 'enter_address_details' | transloco }}
  </h3>

  <form
    [formGroup]="addressForm"
    (ngSubmit)="onNext()"
    class="flex flex-col gap-4">
    <app-input
      id="city"
      fieldControlName="city"
      [label]="'city' | transloco"
      [placeholder]="'enter_city_name' | transloco"
      [errorMessages]="cityErrors()"
      [required]="true" />

    <app-textarea
      id="address"
      fieldControlName="address"
      [label]="'address' | transloco"
      [placeholder]="'enter_your_full_address' | transloco"
      [errorMessages]="addressErrors()"
      [required]="true"
      [rows]="3" />

    <app-phone
      id="phone"
      fieldControlName="phone"
      [label]="'phone' | transloco"
      [placeholder]="'phone_placeholder' | transloco"
      [errorMessages]="phoneErrors()"
      [required]="true" />

    <button
      type="submit"
      class="w-full py-4 mt-6 rounded-2xl bg-maroon-600 hover:bg-maroon-700 text-white font-semibold transition duration-300">
      {{ 'next' | transloco }}
    </button>
  </form>
</div>
