<section class="flex flex-col">
  <header
    class="bg-maroon-600 text-white rounded-t-md flex lg:flex-row flex-col gap-3 lg:gap-0 justify-between lg:items-center p-4">
    <h4 class="font-semibold lg:text-2xl text-lg">
      {{ 'order_page_order_section_header_title' | transloco }} #123456789
    </h4>

    <div>
      <span class="font-normal lg:text-base text-sm">
        {{ 'order_page_order_section_header_created_in_label' | transloco }}:
      </span>

      <span class="font-semibold lg:text-base text-sm"
        >14 July, 2025 at 10:05AM</span
      >
    </div>
  </header>

  <section
    class="p-4 border border-t-0 border-zinc-200 bg-zinc-100 rounded-b-md">
    <header
      class="flex lg:flex-row flex-col justify-between gap-3 lg:gap-0 lg:items-center pb-4 border-b border-zinc-200 mb-4">
      <div class="flex items-center gap-4">
        <div class="flex">
          <span
            class="font-medium lg:text-2xl text-lg text-zinc-800 dark:text-white">
            {{ 'order_page_order_section_total_price_label' | transloco }}:
          </span>

          <span
            class="font-semibold lg:text-2xl text-lg text-zinc-800 dark:text-white">
            1,820 EGP
          </span>
        </div>

        <div
          class="inline-flex items-center bg-emerald-500 text-white rounded-full gap-2.5 py-1 px-2.5">
          <lucide-icon [img]="Check" size="20" class="size-4" />
          <span>Paid</span>
        </div>
      </div>

      <div>
        <span
          class="lg:text-base text-sm text-semibold text-zinc-800 dark:text-white">
          {{ 'order_page_order_section_status_label' | transloco }}:
        </span>

        <span class="bg-blue-500 text-white rounded-full py-1 px-2.5">
          In Progress
        </span>
      </div>
    </header>

    <section class="lg:px-4">
      <div class="flex flex-col gap-2.5">
        <div class="flex items-center gap-1">
          <span>
            {{ 'order_page_order_section_payment_method_label' | transloco }}:
          </span>

          <span class="text-zinc-500 flex items-center gap-1">
            <lucide-icon [img]="Banknote" class="size-5" />
            Cash
          </span>
        </div>

        <div class="flex items-center gap-1">
          <span>
            {{ 'order_page_order_section_delivery_status_label' | transloco }}:
          </span>

          <span class="text-yellow-600 flex items-center gap-1">
            <lucide-icon [img]="Truck" class="size-5" />
            Pending
          </span>
        </div>

        <div>
          <span>
            {{ 'order_page_order_section_order_items_label' | transloco }}:
          </span>
        </div>

        <div
          class="rounded-sm bg-white p-4 flex flex-col lg:flex-row flex-wrap gap-3">
          <app-product-order-item />
        </div>
      </div>
    </section>
  </section>
</section>
