<!-- Page title -->
<p class="text-zinc-800 font-semibold text-2xl dark:text-soft-pink-300">{{'forgot_password' | transloco}}</p>
<p class="text-zinc-800 font-normal text-base dark:text-white">{{'forget_paragraph' | transloco}}</p>

<!-- Divider -->
<div class="border-b py-1 border-zinc-200"></div>
<!-- Login form -->
<form
  class="mt-10 w-full flex flex-col gap-4"
  [formGroup]="form"
  (ngSubmit)="submit()"
  novalidate
>
  <!-- Email field -->
  <app-input
    id="email"
    type="email"
    label="{{ 'email' | transloco }}"
    placeholder="{{ 'email_placeholder' | transloco }}"
    [required]="true"
    fieldControlName="email"
    [errorMessages]="emailErrors()"
  />

  <!-- Submit button -->
  <div class="w-full mt-5">
    <shared-ui-button
      [label]="'continue' | transloco"
      [type]="'submit'"
      [disabled]="!form.valid"
      (clicked)="submit()"
    ></shared-ui-button>
  </div>
</form>

<!-- Divider -->
<div class="border-b py-3 border-zinc-200"></div>

<!-- No account / Create account link -->
<div class="flex my-5 gap-1 justify-center">
  <p class="text-zinc-800 dark:text-zinc-200 font-bold text-sm">
    {{ 'no_account' | transloco }}
  </p>
  <a
    [routerLink]="'/auth/register'"
    class="text-maroon-700 dark:text-soft-pink-300 font-bold text-sm"
  >
    {{ 'create_account' | transloco }}
  </a>
</div>
