<section class="mt-16 container mx-auto">
  <!-- Header -->
  <div
    class="flex flex-col md:flex-row md:items-center justify-between gap-6 mb-8"
  >
    <app-styled-home-title [title]="'most_popular_title' | transloco" />

    <!-- Filters -->
    <div class="flex flex-wrap items-center gap-2">
      <button
        (click)="selectOccasion(null)"
        class="text-base font-medium"
        [class]="
          selectedOccasion() === null
            ? 'text-maroon-600 dark:text-soft-pink-200'
            : 'text-zinc-700 dark:text-zinc-400'
        "
      >
        All
      </button>

      @for (occasion of occasions() | slice: 0 : 4; track occasion._id) {
        <button
          (click)="selectOccasion(occasion._id)"
          class="text-base font-medium"
          [class]="
            selectedOccasion() === occasion._id
              ? 'text-maroon-600 dark:text-soft-pink-200'
              : 'text-zinc-700 dark:text-zinc-400'
          "
        >
          {{ occasion.name }}
        </button>
      }
    </div>
  </div>

  <!-- Product Grid -->
  @if (filteredProducts().length > 0) {
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
      @for (product of filteredProducts(); track product._id) {
        <app-product-card [product]="product" />
      }
    </div>
  } @else {
    <div
      class="flex flex-col items-center justify-center py-20 bg-zinc-50 rounded-2xl border-2 border-dashed border-zinc-200 text-zinc-400"
    >
      <p class="text-lg">{{ 'no_products_found' | transloco }}</p>
    </div>
  }

  <!-- Footer Link -->
  <div class="mt-10 flex justify-end">
    <a
      routerLink="/products"
      class="flex items-center gap-2 text-maroon-700 dark:text-soft-pink-200 font-semibold transition-all duration-300"
    >
      {{ 'view_more' | transloco }}

      <span class="rtl:rotate-180">
        <lucide-icon [img]="ArrowRight" [size]="20"></lucide-icon>
      </span>
    </a>
  </div>
</section>
