<div class="lg:flex items-center gap-2.5 hidden">
  <button
    type="button"
    (click)="navigateToEdit.emit()"
    class="inline-flex items-center gap-1.5 px-3 py-1.5 rounded-lg text-xs font-semibold bg-blue-50 text-blue-600 hover:bg-blue-100/80 dark:bg-blue-950/30 dark:text-blue-400 dark:hover:bg-blue-900/30 border border-blue-200/40 dark:border-blue-800/30 transition-colors duration-150 cursor-pointer">
    <lucide-icon [img]="Pencil" size="14" />
    Edit
  </button>

  <button
    type="button"
    (click)="delete.emit()"
    class="inline-flex items-center gap-1.5 px-3 py-1.5 rounded-lg text-xs font-semibold bg-red-50 text-red-600 hover:bg-red-100/80 dark:bg-red-950/30 dark:text-red-400 dark:hover:bg-red-900/30 border border-red-200/40 dark:border-red-800/30 transition-colors duration-150 cursor-pointer">
    <lucide-icon [img]="Trash2" size="14" />
    Delete
  </button>
</div>

<div class="flex justify-center lg:hidden">
  <button
    type="button"
    class="border border-zinc-300 dark:border-zinc-600 text-zinc-600 dark:text-zinc-400 rounded-md px-1 py-1.5 hover:bg-zinc-100 dark:hover:bg-zinc-800 transition-colors duration-150"
    (click)="menu.toggle($event)">
    <lucide-icon [img]="EllipsisVertical" size="14" />
  </button>

  <p-menu #menu [model]="actionItems()" [popup]="true" [pt]="menuPt()">
    <ng-template #item let-item>
      <button
        type="button"
        (click)="item.label == 'Delete' ? delete.emit() : navigateToEdit.emit()"
        class="inline-flex items-center gap-1.5 p-3 rounded-lg text-xs font-semibold w-full hover:bg-zinc-100"
        [class]="
          item.label == 'Edit'
            ? 'text-blue-600 dark:text-blue-400'
            : 'text-red-600 dark:text-red-400'
        ">
        <lucide-icon
          [img]="item.label === 'Edit' ? Pencil : Trash2"
          size="14" />
        {{ item.label }}
      </button>
    </ng-template>
  </p-menu>
</div>
