<!-- Progress -->
<div class="mb-4">
  <div class="relative flex items-center justify-between">
    <!-- line -->
    <div
      class="absolute top-1/2 left-0 w-full h-1 bg-zinc-200 -translate-y-1/2"></div>

    <div
      class="relative text-zinc-500 text-sm flex items-center justify-center"></div>

    <!-- active line -->
    <div
      class="absolute top-1/2 left-0 h-1 bg-maroon-600 -translate-y-1/2 transition-all duration-300"
      [style.width.%]="activeLineWidth()"></div>

    @for (step of steps(); track step) {
      <!-- step circle -->
      <div
        class="relative z-10 w-7 h-7 rounded-full text-sm flex items-center justify-center transition-all duration-300"
        [class.bg-maroon-600]="step <= currentActiveStep()"
        [class.text-white]="step <= currentActiveStep()"
        [class.font-bold]="step <= currentActiveStep()"
        [class.bg-zinc-200]="step > currentActiveStep()"
        [class.text-zinc-500]="step > currentActiveStep()">
        {{ step }}
      </div>
    }

    <div
      class="relative z-10 text-zinc-500 text-sm flex items-center justify-center"></div>
  </div>

  }
  <!-- ⭐ Add Address Modal -->
<app-add-address-dialog
  [isOpen]="isAddressModalOpen"
  [addresses]="addresses"
  (closed)="closeAddressModal()"
  (addressAdded)="handleAddressAdded($event)"
  (addressUpdated)="handleAddressUpdated($event)"
  (addressDeleted)="handleAddressDeleted($event)">
</app-add-address-dialog>

</div>
