<!-- Page title -->
<p class="text-zinc-800 font-semibold  text-2xl">{{'AUTH.CREATE_PASSWORD' | transloco}}</p>
<p class="text-zinc-800 font-normal text-base">{{'AUTH.password-paragraph' | transloco}}</p>


<!-- Divider -->
<div class="border-b py-1 border-zinc-200"></div>
<!-- Login form -->
<form
  class="mt-10 w-full flex flex-col gap-4"
  [formGroup]="form"
  (ngSubmit)="submit()"
  novalidate
>

  <!-- Password field -->
  <app-password
    id="password"
    type="password"
    label="{{ 'AUTH.PASSWORD' | transloco }}"
    placeholder="{{ 'AUTH.PASSWORD_PLACEHOLDER' | transloco }}"
    [required]="true"
    fieldControlName="password"
    [errorMessages]="passwordErrors()"
  />


     <!-- Confirm Password -->
    <app-password
      id="confirmPassword"
      type="password"
      label="{{ 'AUTH.CONFIRM_PASSWORD' | transloco }}"
      placeholder="{{ 'AUTH.CONFIRM_PASSWORD_PLACEHOLDER' | transloco }}"
      [required]="true"
      fieldControlName="confirmPassword"
      [errorMessages]="confirmPasswordErrors()"
    />


  <!-- Submit button -->
  <div class="w-full mt-5">
    <shared-ui-button
      [label]="'AUTH.RESET_PASSWORD' | transloco"
      [type]="'submit'"
      [disabled]="!form.valid"
    ></shared-ui-button>
  </div>
</form>

<!-- Divider -->
<div class="border-b py-3 border-zinc-200"></div>

<!-- No account / Create account link -->
<div class="flex my-5 gap-1 justify-center">
  <p class="text-zinc-800 dark:text-zinc-200 font-bold text-sm">
    {{ 'AUTH.Need_help' | transloco }}
  </p>
  <a
    class="text-maroon-700 dark:text-soft-pink-300 font-bold text-sm"
  >
    {{ 'AUTH.Contact_us' | transloco }}
  </a>
</div>
