<section class="min-h-screen bg-gray-50 dark:bg-zinc-900 p-4 lg:flex lg:items-center lg:justify-center lg:p-6">
  <div class="w-full lg:max-w-2xl">

    <h2 class="text-xl font-bold text-zinc-900 dark:text-zinc-100 mb-6">
      {{ 'change_password' | transloco }}
    </h2>

    <div
      class="bg-white dark:bg-zinc-800 lg:rounded-2xl lg:shadow-sm lg:border lg:border-zinc-200 lg:dark:border-zinc-700 p-6 lg:p-8">
      <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-4">

        <app-password id="currentPassword" label="{{ 'old_password' | transloco }}"
          placeholder="{{ 'old_password_placeholder' | transloco }}" [required]="true"
          fieldControlName="currentPassword" [errorMessages]="currentPasswordErrors()" />

        <app-password id="newPassword" label="{{ 'new_password' | transloco }}"
          placeholder="{{ 'new_password_placeholder' | transloco }}" [required]="true" fieldControlName="password"
          [errorMessages]="newPasswordErrors()" />

        <app-password id="rePassword" label="{{ 'confirm_new_password' | transloco }}"
          placeholder="{{ 'confirm_new_password_placeholder' | transloco }}" [required]="true"
          fieldControlName="rePassword" [errorMessages]="rePasswordErrors()" />

        <div class="flex justify-end mt-2">
          <shared-ui-button [label]="'change_password' | transloco" [type]="'submit'" [disabled]="form.invalid" />
        </div>

      </form>
    </div>

  </div>
</section>
