<div
  class="main-layout max-w-[1400px] mx-auto px-4 py-8 flex flex-col md:flex-row gap-8"
>
  <!-- Product Filters -->
  <app-product-filters
    [categories]="categories"
    [occasions]="occasions"
    [ratingValue]="ratingValue"
    [priceFrom]="priceFrom"
    [priceTo]="priceTo"
  />

  <!-- Products List -->
  <main class="flex-1">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-4">
      @for (product of products(); track product._id) {
        <app-product-card [product]="product" />
      }
    </div>

    <div
      class="card flex justify-center py-4 border-t border-zinc-100 dark:border-zinc-700"
    >
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first()"
        [rows]="metaData().limit"
        [totalRecords]="metaData().totalItems"
        [showJumpToPageDropdown]="false"
        [pt]="pt()"
      />
    </div>
  </main>
</div>
