<div class="flex flex-col gap-[0.375rem] w-full">
  @if (label()) {
    <app-label
      [text]="label()"
      [for]="id()"
      [disabled]="disabled()"
      [error]="!!errorMessages()?.length"
    />
  }

  <input
    pInputText
    [type]="type()"
    [id]="id()"
    [name]="name()"
    [placeholder]="placeholder()"
    [value]="value()"
    [disabled]="disabled()"
    [required]="required()"
    [formControlName]="fieldControlName()"
    [autocomplete]="autocomplete()"
    [class]="inputClass() ?? defaultInputClass()"
  />

  @if (endIconTemplate()) {
    <ng-container [ngTemplateOutlet]="endIconTemplate()" />
  }

  @if (errorMessages()?.length) {
    <p class="text-red-500 text-xs font-normal">{{ errorMessages()?.[0] }}</p>
  }
</div>
