@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Edwardian Script ITC';
  src:
    local('Edwardian Script ITC'),
    url('/assets/fonts/edwardian_script_itc.ttf') format('truetype');
  font-display: swap;
}

@theme {
  --font-zain: 'Zain', monospace;
  --font-edwardian: 'Edwardian Script ITC', cursive;
  --font-inter: 'Inter', sans-serif;

  --color-maroon-50: #fbeaea;
  --color-maroon-100: #f3c5c7;
  --color-maroon-200: #ea9fa2;
  --color-maroon-300: #e07a7d;
  --color-maroon-400: #d75458;
  --color-maroon-500: #dc2e33;
  --color-maroon-600: #a6252a;
  --color-maroon-700: #741c21;
  --color-maroon-800: #501419;
  --color-maroon-900: #2c0c10;
  --color-maroon-950: #20090c;

  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #dc2626;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;

  --color-pink-50: #fff0f8;
  --color-pink-100: #ffdeec;
  --color-pink-200: #ffaddc;
  --color-pink-300: #ff84cb;
  --color-pink-400: #ff5bba;
  --color-pink-500: #ff2ba9;
  --color-pink-600: #d0198f;
  --color-pink-700: #a41173;
  --color-pink-800: #790a55;
  --color-pink-900: #52043a;
  --color-pink-950: #340021;

  --color-soft-pink-50: #fff1f5;
  --color-soft-pink-100: #ffe0e7;
  --color-soft-pink-200: #ffc2d0;
  --color-soft-pink-300: #ff8a9b;
  --color-soft-pink-400: #ff85a2;
  --color-soft-pink-500: #ff668b;
  --color-soft-pink-600: #e65073;
  --color-soft-pink-700: #cc3a5b;
  --color-soft-pink-800: #b32443;
  --color-soft-pink-900: #99102c;
  --color-soft-pink-950: #590414;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bedbff;
  --color-blue-300: #8ec5ff;
  --color-blue-400: #50a2ff;
  --color-blue-500: #2b7fff;
  --color-blue-600: #155dfc;
  --color-blue-700: #1c3a5b;
  --color-blue-800: #193c8b;
  --color-blue-900: #1c398e;
  --color-blue-950: #162456;

  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d0fae5;
  --color-emerald-200: #a4f4cf;
  --color-emerald-300: #5ee9b5;
  --color-emerald-400: #00d492;
  --color-emerald-500: #00bc7d;
  --color-emerald-600: #009966;
  --color-emerald-700: #007a55;
  --color-emerald-800: #006045;
  --color-emerald-900: #004f3b;
  --color-emerald-950: #002c22;

  --color-yellow-50: #fefce8;
  --color-yellow-100: #fef9c3;
  --color-yellow-200: #fef08a;
  --color-yellow-300: #fde047;
  --color-yellow-400: #facc15;
  --color-yellow-500: #eab308;
  --color-yellow-600: #ca8a04;
  --color-yellow-700: #a16207;
  --color-yellow-800: #854d0e;
  --color-yellow-900: #713f12;
  --color-yellow-950: #422006;

  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;

  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  font-family: var(--font-inter);
  overflow-x: hidden;
  @apply bg-white text-zinc-800 dark:bg-zinc-800 dark:text-white;
}

[dir='rtl'] body {
  font-family: var(--font-zain);
}

input {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

button {
  cursor: pointer;
}
