<section class="px-6 py-10">
  <div class="border-b border-zinc-200 pb-4 my-4">
    <div class="mb-2.5">
      <app-styled-home-title [title]="'product_reviews' | transloco" />
    </div>

    <p class="font-semibold text-xl text-zinc-800">
      {{ 'general_rating' | transloco }}
    </p>
    <div class="flex gap-1 my-2">
      <p class="text-zinc-800 font-medium text-sm ml-2">{{ rating }}</p>
      <span class="text-zinc-500 font-medium text-sm">
        ({{ totalRatings }} {{ 'ratings' | transloco }})
      </span>
    </div>

    <div class="flex">
      @for (star of getStarsArray(rating); track $index) {
        <div [innerHTML]="star"></div>
      }
    </div>
  </div>

  <div class="grid grid-cols-12 gap-5">
    <div class="col-span-12 lg:col-span-7 px-5 border-zinc-200 border-r">
      @if (loading) {
        <div class="card flex justify-center">
          <p-progress-spinner></p-progress-spinner>
        </div>
      } @else if (!loading) {
        @for (review of REVIEWS; track review._id) {
          <div class="border-b border-zinc-200 py-5">
            <div class="flex items-center gap-3">
              <div>
                <img
                  class="w-10 h-10 rounded-full"
                  [src]="review?.user?.photo"
                  alt=""
                />
              </div>
              <div>
                <h3 class="font-semibold text-gray-900">
                  {{ review?.user?.firstName }} {{ review?.user?.lastName }}
                </h3>
                <p class="text-sm text-gray-500">
                  {{ review.createdAt | date: 'mediumDate' }}
                </p>
              </div>
            </div>

            <div class="flex my-3">
              @for (star of getStarsArray(review.rating); track $index) {
                <div [innerHTML]="star"></div>
              }
              <span class="text-zinc-800 font-semibold text-base">
                ({{ review.rating }})
              </span>
            </div>

            <div>
              <p class="text-black text-base font-semibold mb-1">
                {{ review.title }}
              </p>
              <p class="text-zinc-600 text-base font-normal leading-[100%]">
                {{ review.comment }}
              </p>
            </div>
          </div>
        }
      }
    </div>

    <div class="col-span-12 lg:col-span-5 pt-5">
      <form
        class="mt-10 w-full flex flex-col gap-4"
        [formGroup]="form"
        [class.blur-form]="!isLoggedIn()"
        novalidate
      >
        <div class="mb-6 flex gap-1">
          <p class="text-base font-medium text-zinc-800">Your rating:</p>
          <div class="flex gap-1 text-3xl">
            @for (star of getStarsArray(rating); track $index) {
              <lucide-icon
                [name]="single_star"
                class="size-5 text-amber-300"
              ></lucide-icon>
            }
          </div>
        </div>

        <div class="mb-3">
          <app-input
            id="Title"
            type="Title"
            [label]="'Title' | transloco"
            [placeholder]="'Title_placeholder' | transloco"
            [required]="true"
            fieldControlName="title"
          >
          </app-input>
        </div>

        <app-textarea
          id="ReviewControl"
          type="ReviewControl"
          [label]="'review' | transloco"
          [placeholder]="'review_paragraph' | transloco"
          [required]="true"
          fieldControlName="comment"
        >
        </app-textarea>
      </form>

      @if (!isLoggedIn()) {
        <p class="text-zinc-800 font-semibold text-base relative l-5 b-11">
          {{ 'login_paragraph' | transloco }}
        </p>
      }
      <div class="w-full mt-5">
        <shared-ui-button
          [class.blur-form]="!isLoggedIn()"
          (clicked)="createReview()"
          [label]="'add_review' | transloco"
          [type]="'submit'"
        >
        </shared-ui-button>
      </div>
    </div>
  </div>
</section>
