<section class="w-full rounded-xl px-12 py-10 bg-white flex gap-12 items-center">

  <!-- Images Grid -->
  <div class="flex-none grid grid-cols-2 gap-1 items-center">
    <div class="row-span-2">
      <img src="assets/images/Group_1.svg" alt="gift" class="w-full h-full object-contain block" />
    </div>
    <div class="justify-self-center">
      <img src="assets/images/pic_1.svg" alt="gift" class="w-full h-full object-contain block" />
    </div>
    <div class="justify-self-center">
      <img src="assets/images/pic_2.svg" alt="gift" class="w-full h-full object-contain block" />
    </div>
  </div>

  <!-- Content -->
  <div class="flex-1">

    <p class="text-sm font-bold tracking-[3px] text-soft-pink-500 uppercase mb-3.5">
      {{ 'title' | transloco }}
    </p>

    <h2 class="font-serif text-3xl leading-[100%] text-maroon-700">
      {{ 'part_1' | transloco }}
      <span class="text-soft-pink-500">
        {{ 'highlight_1' | transloco }}
      </span>
      {{ 'part_2' | transloco }}
      <span class="text-soft-pink-500">
        {{ 'highlight_2' | transloco }}
      </span>
      {{ 'part_3' | transloco }}
    </h2>

    <p class="text-base leading-[100%] text-zinc-500 my-2">
      {{ 'description_about' | transloco }}
    </p>

    <div class="my-6 w-1/5">
      <shared-ui-button
        [label]="'discover' | transloco"
        [type]="'submit'"
        [icon]="arrow_right"
        [iconPosition]="'right'">
      </shared-ui-button>
    </div>

    <div class="grid grid-cols-2 gap-x-8 gap-y-2.5 ps-4">
      @for (feature of featuresKeys; track $index) {
        <div class="flex items-center gap-2 text-base text-zinc-800 font-normal py-3">
          <span class="text-maroon-700 text-base shrink-0">
            <lucide-icon  [name]="check" alt="check"> </lucide-icon>
          </span>
          {{ feature | transloco }}
        </div>
      }
    </div>

  </div>
</section>
