<!-- title -->
<h2 class="text-3xl font-semibold text-zinc-800 dark:text-zinc-100 mb-8">
  {{ 'shipping_address' | transloco }}
</h2>

<!-- Address Card -->
<div class="flex flex-col gap-4">
  @for (address of addresses(); track address._id) {
    <app-address-card
      [address]="address"
      [selectedId]="selectedAddress()?._id || ''"
      (cardClick)="selectAddress($event._id)">
    </app-address-card>
  }
</div>

<!-- OR -->
@if (addresses().length) {
  <div class="flex items-center gap-4 my-8">
    <div class="flex-1 h-px bg-zinc-200"></div>

    <span class="text-zinc-500 font-semibold">OR</span>

    <div class="flex-1 h-px bg-zinc-200"></div>
  </div>
}

<!-- Add Address -->
<button
  type="button"
  class="w-full py-5 rounded-2xl bg-rose-50 text-maroon-600 font-semibold hover:bg-rose-100 transition"
  (click)="openAddAddressModal()">
  {{ 'add_address' | transloco }}
</button>

<!-- Next Button -->
<div class="flex justify-end mt-14">
  <shared-ui-button
    [label]="'next' | transloco"
    [type]="'button'"
    (clicked)="next()"
    [icon]="ArrowRight"
    iconPosition="right" />
</div>

<app-address-modal
  [addresses]="addresses()"
  [isAddAddressModalOpened]="isAddAddressModalOpened()"
  [selectedAddress]="selectedAddress()"
  (selectAddress)="selectAddress($event)"
  (saveAddress)="onAddressSaved($event)"
  (closeAddressModal)="isAddAddressModalOpened.set(false)" />
