<div
  class="flex flex-col justify-between h-full bg-white text-zinc-800 p-6 select-none">
  <div class="flex flex-col px-2 gap-6">
    <!-- Logo section -->
    <div class="flex justify-center mt-9">
      <img
        src="assets/images/rose-app-logo.webp"
        alt="Rose Logo"
        class="h-28 w-auto object-contain" />
    </div>

    <!-- Preview Website Action Button -->
    <div>
      <button
        routerLink="/landing/home"
        class="w-full flex items-center justify-center gap-2 py-3 bg-maroon-600 hover:bg-maroon-700 text-white font-semibold rounded-xl transition duration-200 cursor-pointer shadow-sm text-base"
        type="button">
        <lucide-icon [img]="Flower" size="24" class="size-6" />
        <span>{{ 'sidebar_preview_website' | transloco }}</span>
      </button>
    </div>

    <!-- Navigation Menu Section -->
    <nav class="flex-1 space-y-1.5 overflow-y-auto">
      @for (item of menuItems(); track item.route) {
        <a
          [routerLink]="item.route"
          routerLinkActive="bg-maroon-50 text-maroon-600!"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center gap-3.5 px-4 py-3 rounded-xl text-zinc-800 hover:bg-zinc-50 transition-colors duration-200 cursor-pointer text-start font-bold group">
          <lucide-icon
            [img]="item.icon"
            size="24"
            class="text-zinc-800 group-[.bg-maroon-50]:text-maroon-600 size-6 transition-colors" />
          <span class="text-lg">
            {{ item.labelKey | transloco }}
          </span>
        </a>
      }
    </nav>
  </div>

  <!-- Bottom Profile Section -->
  <app-sidebar-profile />
</div>
