<div class="flex flex-col gap-6">
  <div class="flex items-center gap-4">
    <button
      type="button"
      class="bg-maroon-600 flex items-center justify-center rounded-full size-9"
      (click)="onBack()">
      <lucide-icon [img]="ArrowLeft" class="size-5 text-white" />
    </button>

    <h3 class="text-2xl font-semibold text-maroon-600">
      {{ 'select_location' | transloco }}
    </h3>
  </div>

  <div class="w-full h-64 rounded-2xl border border-zinc-200 overflow-hidden">
    <google-map height="100%" width="100%" [center]="center()" [zoom]="zoom()">
      <map-marker [position]="markerPosition()" />
    </google-map>
  </div>

  <div class="flex mt-6">
    <button
      type="button"
      class="flex-1 py-4 rounded-2xl bg-maroon-600 hover:bg-maroon-700 text-white font-semibold transition duration-300"
      (click)="onSave()">
      {{ 'address_location_section_add_address_button' | transloco }}
    </button>
  </div>
</div>
