<section class="min-h-screen flex flex-col items-center justify-center  dark:bg-zinc-900 px-6 text-center">

  <!-- Illustration -->
  <div class="w-full max-w-xs sm:max-w-sm md:max-w-md mb-6">
    <img src="assets/images/notFound.svg" alt="">

  </div>

  <h1 class="text-2xl font-bold text-zinc-900 dark:text-zinc-100 mb-2">
    This page does not exist.
  </h1>
  <p class="text-sm text-zinc-400 dark:text-zinc-500 mb-8 max-w-sm">
    We couldn't find the page you are looking for, please make sure you are in the right path.
  </p>

  <button type="button"
    class="px-6 py-2 rounded-lg border border-zinc-300 dark:border-zinc-600 text-sm font-medium text-zinc-700 dark:text-zinc-300 hover:bg-zinc-50 dark:hover:bg-zinc-800 transition"
    (click)="goHome()">
    Go to Homepage
  </button>

</section>
