<div class="slider">
  <p-carousel [value]="products()" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptions"
    [circular]="true">
    <ng-template let-product pTemplate="item">
      <div class="px-2">
        <div
          class="relative bg-white rounded-2xl overflow-visible border border-gray-100 shadow-sm hover:shadow-md transition-shadow"
          style="margin-bottom: 28px;">

          <!-- IMAGE -->
          <div class="w-full overflow-hidden rounded-t-2xl relative" style="height: 300px;">
            <img [src]="product?.imgCover" [alt]="product?.title" class="w-full h-full object-cover" />

            <!-- BADGE -->
            @if(product?.priceAfterDiscount < product?.price) { <div
              class="absolute top-3 left-3 bg-maroon-600 text-white text-xs font-bold px-2 py-1 rounded-full shadow">
              {{ getDiscountPercent(product?.price, product?.priceAfterDiscount) }}% OFF
          </div>
          }

          <!-- FAVORITE BUTTON -->
          <button
            class="absolute top-3 right-3 w-9 h-9 bg-white rounded-full flex items-center justify-center shadow-md hover:scale-110 transition-transform"
            style="z-index: 10;">
            <lucide-icon [name]="Heart" [size]="18"
              class="text-gray-400  hover:bg-zinc-50 dark:hover:bg-zinc-800/50  transition-colors"></lucide-icon>
          </button>

        </div>

        <!-- CONTENT -->
        <div class="px-4 pt-4 pb-8">
          <!-- TITLE -->
          <h3 class="text-lg font-semibold text-maroon-700 mb-1 line-clamp-1">
            {{ product?.title }}
          </h3>

          <!-- RATING COUNT -->
          <div class="flex items-center gap-1 mb-2">
            @if(product?.rateCount){
            <div class="flex">
              @for(star of getStarsArray(product?.rateCount); track $index) {
              <div [innerHTML]="star"></div>
              }
            </div>
            }
            @else{
            <p class="text-zinc-600 text-base font-normal">{{'no_rated' | transloco}}</p>
            }
          </div>

          <!-- PRICE -->
          <div class="flex items-center gap-3">
            <span class="text-maroon-700 font-medium text-base">
              {{ product?.priceAfterDiscount }} EGP
            </span>
            @if(product?.priceAfterDiscount < product?.price) { <span
              class="text-zinc-400 font-medium text-base line-through">
              {{ product?.price }} EGP
              </span>
              }
          </div>
        </div>

        <button class="absolute bottom-4 ltr:right-4 rtl:left-4
         w-12 h-12 bg-maroon-600
         hover:bg-text-maroon-700 hover:bg-zinc-50
         dark:hover:bg-zinc-800/50 text-white
         rounded-full flex items-center justify-center
         shadow-lg transition-colors">
          <lucide-icon [name]="ShoppingCart" [size]="22" color="white"></lucide-icon>
        </button>
      </div>
</div>
</ng-template>
</p-carousel>
</div>
