<div class="flex flex-col gap-6 w-full mx-auto">
  <!-- Title section -->
  <div>
    <h1 class="text-2xl lg:text-3xl font-bold text-zinc-800 dark:text-white">
      {{ isEditMode() ? 'Edit Product' : 'Add a New Product' }}
    </h1>
  </div>

  <!-- Form card container -->
  <div class="bg-white dark:bg-zinc-800 rounded-2xl p-6">
    <form
      [formGroup]="productForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-6 max-w-186.5">
      <!-- Title Input -->
      <app-input
        id="title"
        fieldControlName="title"
        label="Title"
        placeholder="Enter product title"
        [required]="true"
        [errorMessages]="titleErrors()" />

      <!-- Description Input -->
      <app-textarea
        id="description"
        fieldControlName="description"
        label="Description"
        placeholder="Enter product description"
        [required]="true"
        [errorMessages]="descriptionErrors()"
        [rows]="5" />

      <!-- Financial Metrics Grid -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <app-input
          id="price"
          fieldControlName="price"
          label="Price"
          placeholder="Example: 5000"
          type="number"
          [required]="true"
          [errorMessages]="priceErrors()" />

        <app-input
          id="discount"
          fieldControlName="discount"
          label="Discount"
          placeholder="Example: 5"
          type="number"
          [errorMessages]="discountErrors()" />

        <app-input
          id="priceAfterDiscount"
          fieldControlName="priceAfterDiscount"
          label="Price after discount"
          placeholder="Example: 5"
          type="number" />
      </div>

      <!-- Quantity Input -->
      <app-input
        id="quantity"
        fieldControlName="quantity"
        label="Quantity"
        placeholder="Example: 200"
        type="number"
        [required]="true"
        [errorMessages]="quantityErrors()" />

      <!-- Image Upload Section Grid -->
      @if (!isEditMode()) {
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <app-file-upload
            id="imageCover"
            fieldControlName="imageCover"
            label="Product cover image"
            [required]="!isEditMode()"
            [initialPreviews]="coverPreviewUrl() ? [coverPreviewUrl()!] : []"
            [errorMessages]="coverImageErrors()" />

          <app-file-upload
            id="images"
            fieldControlName="images"
            label="Product gallery"
            [required]="!isEditMode()"
            [multiple]="true"
            [initialPreviews]="galleryPreviewUrls()"
            [errorMessages]="galleryErrors()" />
        </div>
      }

      <!-- Categories & Occasions Select Dropdowns -->
      <app-select
        id="category"
        fieldControlName="category"
        label="Category"
        placeholder="Select an option"
        [options]="categories()"
        optionLabel="name"
        optionValue="_id"
        [required]="true"
        [errorMessages]="categoryErrors()" />

      <app-select
        id="occasion"
        fieldControlName="occasion"
        label="Occasion"
        placeholder="Select an option"
        [options]="occasions()"
        optionLabel="name"
        optionValue="_id"
        [required]="true"
        [errorMessages]="occasionErrors()" />

      @if (isEditMode()) {
        <section
          class="flex flex-col lg:flex-row items-center lg:justify-end gap-2.5">
          <button
            type="button"
            (click)="openProductCover()"
            class="rounded-xl border border-zinc-200 text-blue-600 p-2.5 flex items-center gap-1.5 w-full lg:w-fit">
            <lucide-icon [img]="Image" size="18"></lucide-icon>
            <span>View product cover</span>
          </button>

          @if (galleryPreviewUrls().length) {
            <button
              type="button"
              (click)="openProductGallery()"
              class="rounded-xl border border-zinc-200 text-blue-600 p-2.5 flex items-center gap-1.5 w-full lg:w-fit">
              <lucide-icon [img]="Images" size="18"></lucide-icon>
              <span>View product gallery</span>
            </button>
          }
        </section>
      }

      <!-- Action Button -->
      <div class="mt-4">
        <button
          type="submit"
          [disabled]="loading() || productForm.invalid"
          class="w-full py-4 rounded-lg bg-maroon-600 hover:bg-maroon-800 text-white font-bold transition duration-300 shadow-md disabled:opacity-50 disabled:cursor-not-allowed!">
          {{ isEditMode() ? 'Update Product' : 'Add Product' }}
        </button>
      </div>
    </form>
  </div>
</div>

<p-dialog
  [modal]="true"
  [closeOnEscape]="true"
  [visible]="isGalleryModalOpened()"
  (visibleChange)="isGalleryModalOpened.set($event)"
  [pt]="dialogPt()"
  [style]="{ width: '54rem' }">
  <p-carousel
    [value]="carouselData()"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [pt]="carouselPt()">
    <ng-template pTemplate="item" let-data>
      <div
        class="bg-contain bg-no-repeat bg-center rounded-2xl relative h-120 border border-zinc-200 mt-12"
        [style.backgroundImage]="'url(' + data.imageUrl + ')'"></div>
    </ng-template>
  </p-carousel>
</p-dialog>
