<p-dialog
  [modal]="true"
  [closeOnEscape]="true"
  [visible]="isAddAddressModalOpened()"
  [pt]="dialogPt()"
  [style]="{ width: '54rem' }">
  <ng-template #headless>
    @if (addressMode() !== ADDRESS_MODAL_MODE.ADDRESS_VIEW) {
      <header class="flex items-center justify-between mb-6">
        <h2 class="text-3xl font-bold text-zinc-800">
          {{ 'add_address' | transloco }}
        </h2>
      </header>

      <app-stepper [currentActiveStep]="currentActiveStep()" />
    }

    @switch (addressMode()) {
      @case (ADDRESS_MODAL_MODE.ADDRESS_VIEW) {
        <app-address-view
          [addresses]="addresses()"
          (selectAddress)="onSelectAddress($event)"
          (switchMode)="switchMode($event)" />
      }

      @case (ADDRESS_MODAL_MODE.ADDRESS_DETAILS) {
        <app-address-details-form (next)="onNext($event)" />
      }

      @case (ADDRESS_MODAL_MODE.ADDRESS_LOCATION) {
        <app-address-location-form
          (switchMode)="switchMode($event)"
          (saveAddress)="onSave()" />
      }
    }
  </ng-template>
</p-dialog>
