<p-dialog
  [modal]="true"
  [closeOnEscape]="true"
  [visible]="isAddAddressModalOpened()"
  (visibleChange)="closeAddressModal.emit()"
  [pt]="dialogPt()"
  [style]="{ width: '54rem' }">
  <ng-template #headless>
    @if (addressMode() !== ADDRESS_MODAL_MODE.ADDRESS_VIEW) {
      <header class="flex items-center justify-between mb-6">
        <h2 class="text-3xl font-bold text-zinc-800">
          {{ 'add_address' | transloco }}
        </h2>
      </header>

      <app-stepper [currentActiveStep]="currentActiveStep()" />
    }

    @switch (addressMode()) {
      @case (ADDRESS_MODAL_MODE.ADDRESS_VIEW) {
        <app-address-view
          [addresses]="addresses()"
          (selectAddress)="onSelectAddress($event)"
          (editAddress)="handleEditAddress($event)"
          (deleteAddress)="handleDeleteAddress($event)"
          (switchMode)="switchMode($event); formMode.set('add')" />
      }

      @case (ADDRESS_MODAL_MODE.ADDRESS_DETAILS) {
        <app-address-details-form
          [address]="addressEditing()"
          (next)="onNext($event)" />
      }

      @case (ADDRESS_MODAL_MODE.ADDRESS_LOCATION) {
        <app-address-location-form
          [editLatLong]="
            addressEditing()
              ? {
                  lat: +addressEditing()!.lat,
                  lng: +addressEditing()!.long,
                }
              : null
          "
          (switchMode)="switchMode($event)"
          (saveAddress)="onSave($event)" />
      }
    }
  </ng-template>
</p-dialog>

<p-confirmdialog [pt]="confirmDialogPt()" />
