<section class="flex flex-col w-full gap-6">
  <section class="grid grid-cols-1 lg:grid-cols-2 w-full gap-6">
    @if (overall()) {
      <app-overview-overall-section [overall]="overall()" />
    }

    @if (categories()) {
      <app-overview-categories-section [categories]="categories()" />
    }
  </section>

  <section class="grid grid-cols-1 lg:grid-cols-5 w-full gap-6">
    @if (ordersByStatus()) {
      <app-overview-order-status-section [ordersByStatus]="ordersByStatus()" />
    }

    @if (dailyRevenue() || monthlyRevenue()) {
      <app-overview-revenue-section
        [dailyRevenue]="dailyRevenue()"
        [monthlyRevenue]="monthlyRevenue()" />
    }
  </section>

  <section class="grid grid-cols-1 lg:grid-cols-2 w-full gap-6">
    @if (topSellingProducts()) {
      <app-overview-top-selling-products-section
        [topSellingProducts]="topSellingProducts()" />
    }

    @if (lowStockProducts()) {
      <app-overview-low-stock-products-section
        [lowStockProducts]="lowStockProducts()" />
    }
  </section>
</section>
